{% extends "base.html" %}

{% block content %}
<h1 class='top-title'>Add a Blog Entry</h1>
<br>
<div type='container' id='div-cont'>
    <form action='/blog?=1' method='post'>
        <div>
            <label for='blog-post'>Title for your new blog:</label>
            <input type="text" name='post-title' value='{{request.form['post-title']}}'/>
            <br />
            <span class='error'>{{title_error}}</span>
        </div>
        <br>
        <br>
        <div>
            <label for='blog-post2' >Your new blog:</label>
            <textarea rows='7'  type="text" name='post-body' value='{{request.form['post-body']}}'></textarea>
            <span class='error'>{{body_error}}</span>
        </div>
            <br>
            <input type="submit" value='Add Entry' />
    </form>
</div>
{% endblock %}